@using PrivateZone.Web.Models

@model LoginModel

@{
    ViewBag.Title = "Login page";
}

    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new {id="login-form", @class = "form-signin"}))
    {
        <h2 class="form-signin-heading">Please sign in</h2>
        @Html.TextBoxFor(model => model.UserName, new {@class = "input-block-level", placeholder = "User name"})
        @Html.PasswordFor(model => model.Password, new {@class = "input-block-level", placeholder = "Password"})
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-primary" type="submit">Sign in</button>
    }